@font-face { font-family: Champignon; src: url('./fonts/Champignon.otf'); } 
@font-face { font-family: MonlyLite; src: url('./fonts/monly-lite-light.ttf'); } 
@font-face { font-family: MonlyLite; font-weight: bold; src: url('./fonts/monly-lite-bold.ttf'); } 
body {
  font-family: MonlyLite, Candara, Calibri, Segoe, Segoe UI, Optima, sans-serif;
}
body.lvfont {
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.content {
  max-height: 100%;
}
.left {
  float: left;
  width: 44%;
}
.right {
  float: left;
  width: 55%;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
.center {
  margin: 0 auto; 
  text-align: center;
}
.orange {
  color: OrangeRed;
}
.blue {
  color: Blue;
}
.info {
  font-weight: bold;
  font-stretch: expanded;
  word-break: normal;
}
.readable {font-family: Verdana, sans-serif;}
.list li {
  word-break: normal;
  color: Blue;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
}
.banner {
  margin-top: 1em;
  font-size: xx-large;
}
.message {
  font-size: x-large;
}
.logo img {
  width: 92%;
  height: auto;
}
.invite img {
  width: 90%;
  height: auto;
}
.language {
  position: absolute;
  top: 12px;
  right: 1em;
  display: block;
  float: right;
  text-align: right;
}
.language a {
  border:0; 
  text-decoration:none; 
  outline:none
}
.language img {
  height: 24px;
  width: auto;
}
.signature { 
  padding-top: 15px;
  padding-left: 2em;
  font-family: Champignon, sans-serif;
  font-size: 460%;
}
.images img {
  width: 80%;
  height: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.images:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.box { border: 2px solid black; }
@media screen and (max-width: 760px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}